.form-container {
  padding-top: 10px;
}

.form-page {
  display:flex;
  justify-content: center;
  align-content: center;
}

.form {
  background-color: #f7f7f7;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 30px;
  padding-bottom: 300px;
  width: 300px;
  max-width: 300px;
  height: 150px;
  max-height: 150px;
  display: flex;
  flex-direction: column;
}

.sign-in-text {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 32px;
  padding-top: 0px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.login-items {
  padding: 10px;
  display: flex;
  align-content:flex-start;
  justify-content: flex-start;
  font-size: 17px;
  flex-direction: column;
}

.input-fileds {
  outline: none;
}

.label {
  padding-right: 8px;
  font-family:Arial, Helvetica, sans-serif;
}

.login-btn {
  background-color: #3d95ce;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  border: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-btn:hover {
  cursor: pointer;
}

.demo-btn {
  border: 0px;
  background-color: #f7f7f7;
  margin-top: 5px;
  color: #551A8B;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.demo-btn:hover {
  cursor:pointer;
}

.demotext {
  margin-right: 20px;
  width: 120%;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.email {
  padding-right: 40px;
}

.email-div {
  padding-bottom: 20px;
}

.password-div {
  padding-bottom: 20px;
}

.error-div {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-family:Arial, Helvetica, sans-serif;
  color: red;
  height: 40px;
  padding-bottom: 20px;
}

.errors {
  padding-bottom: 10px;
}

.allItems {
  margin-right: 0px;

}
